* {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, serif;
}

body {
  background-color: #eaf4f4;
}

.color {
  border: 1px solid black;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: white;
  margin: 5px;
  padding: 5px;
}

.pixel {
  border: 1px solid black;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: white;
}

#title-container {
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #cce3de;
}

#color-palette , #form-container {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

legend , label , #generate-board , #board-size {
  margin: 3px;
  padding: 3px;
}
