* {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, serif;
  color: black;
}

body {
  background-color: #eaf4f4;
}

.color {
  border: 1px solid black;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: white;
  margin: 5px;
  padding: 5px;
}

#title-container {
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #cce3de;
}

#color-palette , #form-container , #clear-board-container {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#pixel-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

legend , label , #generate-board , #board-size , #clear-board {
  margin: 3px;
  padding: 3px;
}

#clear-board {
  font-size: 18px;
}

.pixel {
  border: 1px solid black;
  display: table-cell;
  width: 40px;
  height: 40px;
  background-color: white;
  border-collapse: collapse;
}

.pixel-line {
  display: table-row;
  border-collapse: collapse;
}

#footer-container {
  margin: 155px 5px 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #cce3de;
  font-size: large;
}
